<h1>New user_contact</h1>

<% form_for(@user_contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :realname %><br />
    <%= f.text_field :realname %>
  </p>
  <p>
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </p>
  <p>
    <%= f.label :qq %><br />
    <%= f.text_field :qq %>
  </p>
  <p>
    <%= f.label :MSN %><br />
    <%= f.text_field :MSN %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', user_contacts_path %>